@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to Snowboard Central</h1>


        <p>This App is eventually going to do things</p>

        <h1>Embedded Video Example</h1>
        <p>The following video provides an introduction to WebMatrix:</p>
        <iframe width="560"
                height="315"
                src="https://youtu.be/8CtWgw9xYRE"
                frameborder="0"
                allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/8CtWgw9xYRE"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
                picture-in-picture" allowfullscreen></iframe>
    </div>
